.hero {
  margin: 76px 0 153px 0;
  @media (max-width: 767.98px) {
    margin: 35px 0 55px;
  }


  &__title {
    max-width: 793px;
    margin-left: auto;
    margin-bottom: 66px;
    @media (max-width: 767.98px) {
      font-size: 26px;
      line-height: 28px;
      margin: 27px 15px;
      width: 100%;
    }

    span {
      color: $blue;
    }
  }

  &__slider-img {
    flex: 1 0 630px;
    margin-right: 42px;
    @media (max-width: 767.98px) {
      flex: 0;
      margin-bottom: 25px;
      margin-right: 0;
    }
  }

  &__slider-link {
    position: relative;
    @media (max-width: 767.98px) {
      display: flex;
      justify-content: right;
      padding-right: 10px;
      margin-bottom: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("/images/arrow_right.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 7px;
      height: 10px;
      top: 5px;
      left: 80px;
      @media (max-width: 767.98px) {
        top: 50%;
        right: 0;
        left: -30px;
        transform: translate(0, -50%);
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    @media (max-width: 767.98px) {
      left: 50%;
      transform: translate(-50%, 0);
      padding-bottom: 20px;
    }

    @media (max-width: 767.98px) {
      .swiper-button-prev:after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_128_840' fill='black'%3E%3Cpath d='M9.28317 13.9146C9.4486 14.0313 9.71225 14.028 9.87206 13.9071C10.0279 13.7891 10.0279 13.6022 9.87206 13.4842L1.00485 7.00345L9.87288 0.52326C10.0383 0.406476 10.0429 0.213822 9.88311 0.0929012C9.7233 -0.0279913 9.45969 -0.0313282 9.29422 0.0854273C9.29075 0.0878811 9.28735 0.0903616 9.28399 0.0929012L0.121931 6.78857C-0.0406437 6.90741 -0.0406437 7.10006 0.121931 7.21892L9.28317 13.9146Z'/%3E%3C/mask%3E%3Cpath d='M9.28317 13.9146C9.4486 14.0313 9.71225 14.028 9.87206 13.9071C10.0279 13.7891 10.0279 13.6022 9.87206 13.4842L1.00485 7.00345L9.87288 0.52326C10.0383 0.406476 10.0429 0.213822 9.88311 0.0929012C9.7233 -0.0279913 9.45969 -0.0313282 9.29422 0.0854273C9.29075 0.0878811 9.28735 0.0903616 9.28399 0.0929012L0.121931 6.78857C-0.0406437 6.90741 -0.0406437 7.10006 0.121931 7.21892L9.28317 13.9146Z' fill='black'/%3E%3Cpath d='M9.28317 13.9146L8.69311 14.7219L8.69974 14.7268L8.70645 14.7315L9.28317 13.9146ZM9.87206 13.9071L10.4754 14.7046L10.4755 14.7045L9.87206 13.9071ZM9.87206 13.4842L10.4754 12.6868L10.4688 12.6818L10.4621 12.6769L9.87206 13.4842ZM1.00485 7.00345L0.414846 6.19604L-0.689971 7.00337L0.414775 7.8108L1.00485 7.00345ZM9.87288 0.52326L9.29615 -0.293676L9.28947 -0.288964L9.28288 -0.284144L9.87288 0.52326ZM9.88311 0.0929012L10.4866 -0.704458L10.4864 -0.704598L9.88311 0.0929012ZM9.29422 0.0854273L8.71768 -0.731639L8.71738 -0.73143L9.29422 0.0854273ZM9.28399 0.0929012L9.87403 0.900279L9.88066 0.895436L9.8872 0.890484L9.28399 0.0929012ZM0.121931 6.78857L-0.468103 5.98119L-0.468196 5.98126L0.121931 6.78857ZM0.121931 7.21892L-0.468288 8.02617L-0.468137 8.02628L0.121931 7.21892ZM8.70645 14.7315C8.99047 14.932 9.31358 15.0034 9.59244 14.9999C9.87077 14.9963 10.1948 14.9169 10.4754 14.7046L9.26874 13.1096C9.38953 13.0182 9.50181 13.0009 9.56701 13C9.63273 12.9992 9.7413 13.0139 9.8599 13.0976L8.70645 14.7315ZM10.4755 14.7045C10.7601 14.4891 10.989 14.1354 10.989 13.6956C10.989 13.2558 10.7601 12.9022 10.4754 12.6868L9.26869 14.2817C9.13985 14.1842 8.98895 13.983 8.98895 13.6956C8.98895 13.4083 9.13983 13.2071 9.26859 13.1097L10.4755 14.7045ZM10.4621 12.6769L1.59492 6.19609L0.414775 7.8108L9.28199 14.2916L10.4621 12.6769ZM1.59484 7.81085L10.4629 1.33066L9.28288 -0.284144L0.414846 6.19604L1.59484 7.81085ZM10.4496 1.3402C10.7432 1.1329 10.989 0.781814 10.9997 0.333377C11.0104 -0.117572 10.7788 -0.483314 10.4866 -0.704458L9.2796 0.890262C9.14718 0.790037 8.99321 0.581082 9.00022 0.285888C9.00717 -0.00679684 9.16794 -0.203168 9.29615 -0.293676L10.4496 1.3402ZM10.4864 -0.704598C10.2058 -0.916883 9.8818 -0.996344 9.60347 -0.999873C9.3246 -1.00341 9.00162 -0.931993 8.71768 -0.731639L9.87077 0.902493C9.75229 0.986092 9.64385 1.0008 9.57811 0.999966C9.51291 0.999139 9.40059 0.981792 9.27979 0.890401L10.4864 -0.704598ZM8.71738 -0.73143C8.70526 -0.722867 8.69306 -0.713965 8.68078 -0.704681L9.8872 0.890484C9.88164 0.89469 9.87624 0.898628 9.87106 0.902285L8.71738 -0.73143ZM8.69396 -0.714477L-0.468103 5.98119L0.711966 7.59595L9.87403 0.900279L8.69396 -0.714477ZM-0.468196 5.98126C-0.761163 6.19541 -1 6.55387 -1 7.00374C-1 7.45358 -0.761186 7.81201 -0.468288 8.02617L0.712151 6.41168C0.842473 6.50697 1 6.70964 1 7.00374C1 7.29785 0.84245 7.50056 0.712058 7.59588L-0.468196 5.98126ZM-0.468137 8.02628L8.69311 14.7219L9.87324 13.1072L0.711998 6.41157L-0.468137 8.02628Z' fill='black' mask='url(%23path-1-inside-1_128_840)'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
      }

      .swiper-button-next:after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_128_839' fill='black'%3E%3Cpath d='M0.716826 0.0854374C0.551401 -0.0313467 0.287745 -0.0279798 0.127943 0.0929129C-0.0279161 0.210867 -0.0279161 0.397841 0.127943 0.515766L8.99515 6.99655L0.127123 13.4767C-0.0383013 13.5935 -0.0428694 13.7862 0.116894 13.9071C0.276696 14.028 0.540313 14.0313 0.705777 13.9146C0.709251 13.9121 0.712648 13.9096 0.716006 13.9071L9.87807 7.21143C10.0406 7.09259 10.0406 6.89994 9.87807 6.78108L0.716826 0.0854374Z'/%3E%3C/mask%3E%3Cpath d='M0.716826 0.0854374C0.551401 -0.0313467 0.287745 -0.0279798 0.127943 0.0929129C-0.0279161 0.210867 -0.0279161 0.397841 0.127943 0.515766L8.99515 6.99655L0.127123 13.4767C-0.0383013 13.5935 -0.0428694 13.7862 0.116894 13.9071C0.276696 14.028 0.540313 14.0313 0.705777 13.9146C0.709251 13.9121 0.712648 13.9096 0.716006 13.9071L9.87807 7.21143C10.0406 7.09259 10.0406 6.89994 9.87807 6.78108L0.716826 0.0854374Z' fill='black'/%3E%3Cpath d='M0.716826 0.0854374L1.30689 -0.721917L1.30026 -0.726762L1.29355 -0.731498L0.716826 0.0854374ZM0.127943 0.0929129L-0.475377 -0.704586L-0.475521 -0.704477L0.127943 0.0929129ZM0.127943 0.515766L-0.475428 1.31323L-0.468819 1.31823L-0.462127 1.32312L0.127943 0.515766ZM8.99515 6.99655L9.58515 7.80396L10.69 6.99663L9.58523 6.1892L8.99515 6.99655ZM0.127123 13.4767L0.703852 14.2937L0.710526 14.289L0.717122 14.2841L0.127123 13.4767ZM0.116894 13.9071L-0.48661 14.7045L-0.486426 14.7046L0.116894 13.9071ZM0.705777 13.9146L1.28232 14.7316L1.28262 14.7314L0.705777 13.9146ZM0.716006 13.9071L0.125972 13.0997L0.119344 13.1046L0.112797 13.1095L0.716006 13.9071ZM9.87807 7.21143L10.4681 8.01881L10.4682 8.01874L9.87807 7.21143ZM9.87807 6.78108L10.4683 5.97383L10.4681 5.97372L9.87807 6.78108ZM1.29355 -0.731498C1.00953 -0.932012 0.686421 -1.00342 0.407559 -0.999873C0.129229 -0.996333 -0.194786 -0.916857 -0.475377 -0.704586L0.731263 0.890412C0.610474 0.981791 0.498189 0.999136 0.432993 0.999965C0.367266 1.0008 0.2587 0.986103 0.140097 0.902373L1.29355 -0.731498ZM-0.475521 -0.704477C-0.760148 -0.489072 -0.988951 -0.135447 -0.988951 0.30435C-0.988951 0.744167 -0.760126 1.09782 -0.475428 1.31323L0.731314 -0.281694C0.860152 -0.184213 1.01105 0.0169905 1.01105 0.30435C1.01105 0.591691 0.860174 0.792852 0.731407 0.890303L-0.475521 -0.704477ZM-0.462127 1.32312L8.40508 7.80391L9.58523 6.1892L0.718013 -0.291586L-0.462127 1.32312ZM8.40516 6.18915L-0.462876 12.6693L0.717122 14.2841L9.58515 7.80396L8.40516 6.18915ZM-0.449606 12.6598C-0.743235 12.8671 -0.989004 13.2182 -0.999655 13.6666C-1.01037 14.1176 -0.778791 14.4833 -0.48661 14.7045L0.720398 13.1097C0.852816 13.21 1.00679 13.4189 0.999781 13.7141C0.99283 14.0068 0.832057 14.2032 0.703852 14.2937L-0.449606 12.6598ZM-0.486426 14.7046C-0.205818 14.9169 0.118205 14.9963 0.396531 14.9999C0.675395 15.0034 0.998383 14.932 1.28232 14.7316L0.129233 13.0975C0.247706 13.0139 0.356154 12.9992 0.421893 13C0.487095 13.0009 0.599408 13.0182 0.720214 13.1096L-0.486426 14.7046ZM1.28262 14.7314C1.29474 14.7229 1.30694 14.714 1.31922 14.7047L0.112797 13.1095C0.118357 13.1053 0.123759 13.1014 0.128937 13.0977L1.28262 14.7314ZM1.30604 14.7145L10.4681 8.01881L9.28803 6.40405L0.125972 13.0997L1.30604 14.7145ZM10.4682 8.01874C10.7612 7.80459 11 7.44613 11 6.99626C11 6.54642 10.7612 6.18799 10.4683 5.97383L9.28785 7.58832C9.15753 7.49303 9 7.29036 9 6.99626C9 6.70215 9.15755 6.49944 9.28794 6.40412L10.4682 8.01874ZM10.4681 5.97372L1.30689 -0.721917L0.126759 0.892791L9.288 7.58843L10.4681 5.97372Z' fill='white' mask='url(%23path-1-inside-1_128_839)'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
      }
    }
  }

  @media (max-width: 767.98px) {
    .container {
      margin: 0 -15px;
    }
    &__slider-content {
      margin: 0 15px;
      line-height: 22px;

    }
  }

}


.swiper-button-next,
.swiper-button-prev {
  position: static;
}

.swiper-slide {
  padding-right: 1px;
}


.flex {
  display: flex;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}